/* You can add global styles to this file, and also import other style files */

/* EL formulario tiene un ng-form que recorre los inputs
dentro de angular valida si los campos estan validados o no (es decir con caracteres)
con los ng-valid e invalidad asigno color para que gestionen los campos
*/
.ng-invalid:not(form){
    border-left: 5px solid red;
}

.ng-valid:not(form){
    border-left: 5px solid greenyellow;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.map{
    
    width: 500px;
    height: 500px;
}



