/* You can add global styles to this file, and also import other style files */

/* EL formulario tiene un ng-form que recorre los inputs
dentro de angular valida si los campos estan validados o no (es decir con caracteres)
con los ng-valid e invalidad asigno color para que gestionen los campos
*/
.ng-invalid:not(form){
    border-left: 5px solid red;
}

.ng-valid:not(form){
    border-left: 5px solid greenyellow;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.map{
    
    width: 500px;
    height: 500px;
}

.card-img-top{
    width: 200px;
    height: 200px;
}

.card-deck{
    max-width: 300px;
    float: left;
}


/* carga  */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.footer{
    color: white;
    width: 100%;
    bottom: 0%;
    position: fixed;
}