<!-- <h1 class="animated fadeIn">Soy el Héroe {{ investigador.nombre | uppercase }} 
    <small> y mi año de aparicion fue {{ investigador.aparicion | date:'y'}}</small></h1>
    <hr>
    
    <div class="row animated fadeIn">
        <div class="col-md-4">
            <img [src]="investigador.img " class="img-fluid" alt="">
            <br><br>
            <a class="btn btn-outline-danger btn-block" href="heroes">Regresar</a>
        </div>
    
        <div class="col-md-8">
            <h3 class="text-center"> {{ investigador.nombre }} </h3>
            <hr>
    
            <p>
                {{ investigador.bio }}
            </p>
            <div class="imagen">
                <img *ngIf="investigador.casa == 'Marvel'" class="log-casa" src="/assets/img/marvel-logo.png" alt="">
                <img *ngIf="investigador.casa == 'DC'" class="log-casa" src="/assets/img/dc-logo.jpg" alt="">
            </div>
        </div>
    
    </div> -->