
<!-- <h1> {{ invest | json }}</h1> -->

<div class="card-deck" *ngFor="let investigador of invest">
        <div class="card">
          <img class="card-img-top" src="/assets/fotoinv.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> {{ investigador.inv_nombre }} {{ investigador.inv_apellPater}}</h5>
            <h6 class=""> Correo : {{ investigador.inv_correo }} </h6>
            <h6 class=""> Telefono : {{ investigador.inv_telefono }} </h6>
            <h6 class=""> Ciudad : {{ investigador.fk_ciu_codigo }} </h6>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
            <button class="btn btn-danger">Editar</button>
          </div>
        </div>
</div>